.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
  content: ' ';
}

.clearfix {
  display: inline-block;
}

/* Todo: Webpack autoprefixer plugin used in postcss-loader manages that, mixin should be removed */
@mixin border-radius($radius) {
  border-radius: $radius;
}

.g-unselectable {
  user-select: none; /* IE10+ */
  user-select: -moz-none; /* Firefox */
}
